In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
import configs

In [2]:
df = pd.read_csv("clean_data/final_airport_data_info.csv")

In [3]:
df.head(2)

,type,name,latitude_deg,longitude_deg,elevation_ft,municipality,iata_code,home_link
0,large_airport,Los Angeles International Airport,33.942501,-118.407997,125.0,Los Angeles,LAX,http://www.iflylax.com/
1,large_airport,Chicago O'Hare International Airport,41.978600,-87.904800,672.0,Chicago,ORD,https://www.flychicago.com/ohare/home/pages/de...

In [4]:
pymysql.install_as_MySQLdb()

#Create Engine and Pass in MySQL Connection                
#MySQL_root_PW = config.password
#MySQL_db = 'ETL'
#engine = create_engine("mysql://root:"+MySQL_root_PW+"@localhost/"+MySQL_db)

engine = create_engine(configs.database_link)

#load data 
df.to_sql("Airport_ToolTips", 
                  con = engine,
                  index = True, 
                  if_exists='replace')

/anaconda3/lib/python3.6/site-packages/pandas/io/sql.py:1144: UserWarning: The provided table name 'Airport_ToolTips' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [5]:
df2 = pd.read_csv("clean_data/final_flight_data.csv")

In [6]:
df2.head(2)

,Year,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,Origin,Dest,DepDelayMinutes,ArrDelayMinutes,Cancelled,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,orgin_lat,orgin_long,des_lat,des_long
0,2017,1,1,7,2017-01-01,AA,JFK,LAX,31.0,27.0,0.0,27.0,0.0,0.0,0.0,0.0,40.639801,-73.7789,33.942501,-118.407997
1,2017,1,8,7,2017-01-08,AA,JFK,LAX,4.0,21.0,0.0,0.0,4.0,17.0,0.0,0.0,40.639801,-73.7789,33.942501,-118.407997

In [8]:
engine = create_engine(configs.database_link)

In [9]:
df2.to_sql("All_flights", 
                  con = engine,
                  index = True, 
                  if_exists='replace')

/anaconda3/lib/python3.6/site-packages/pandas/io/sql.py:1144: UserWarning: The provided table name 'All_flights' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)